<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.vehiculos.css">
    <link rel="stylesheet" href="/css/loged.css">
    <link rel="stylesheet" href="/css/report.css">
    <title>Vehículos</title>
</head>

<body>
    <%- include("partials/navbar") %>
    
    <div class="content">
        <div>
            <button id="add">Agregar Vehículo</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cilindraje</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>

    <div class="modal" id="modal">
        <div class="content">
            <div class="report-title">
                <h1>Reporte de ventas</h1>
            </div>
            <div class="report-content" id="report-content">
                
            </div>

            <button id="closeModal">Volver</button>
        </div>
    </div>

    <%- include("partials/footer") %>

    <script type="module" src="/js/form.vehiculos.js"></script>
    <script type="module" src="/js/report.js"></script>
</body>

</html>