<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>

<body>
    <%- include("partials/navbar") %>
    
    <div class="content">
        <div class="slider">
            <div class="slides" id="slides">

            </div>

            <div class="navigation-manual" id="navigation-manual">

            </div>

            <div class="navigation-btn" id="navigation-btn">
                <button class="left" id="left"><img src="https://cdn-icons-png.flaticon.com/512/109/109609.png"
                        alt="left Arrow"></button>
                <button class="right" id="right"><img src="https://cdn-icons-png.flaticon.com/512/109/109609.png"
                        alt="Right Arrow"></button>
            </div>
            
            <button class="info" id="info">Conocer Más</button>
        </div>
    </div>

    <%- include("partials/footer") %>

    <script type="module" src="/js/index.js"></script>
</body>

</html>