<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <%- include("partials/navbar") %>
    
    <div class="content">
        <div class="div-form" id="div-form">
            <h1>LOGIN</h1>
            <form id="form" autocomplete="off">
                <div class="text_field" id="email_field">
                    <input type="text" name="email" id="email" required autofocus><label>Email</label>
                    <span></span>
                </div>
                <div class="text_field" id="password_field">
                    <input type="password" name="password" id="password" required><label>Contraseña</label>
                    <span></span>
                </div>
                <p id="error"></p>
                <div class="btn">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>

    <%- include("partials/footer") %>

    <script type="module" src="/js/login.js"></script>
</body>

</html>