<footer>
    <div class="listas">
        <ul>
            <h2>VR SIMULATORS</h2>
            <li><a href="">Racing Simulators</a></li>
            <li><a href="">Flight Simulators</a></li>
            <li><a href="">VR Treadmills</a></li>
            <li><a href="">Wireless VR</a></li>
        </ul>

        <ul>
            <h2>VR GAMES</h2>
            <li><a href="">Racing Games</a></li>
            <li><a href="">Flight Games</a></li>
            <li><a href="">Treadmills Games</a></li>
            <li><a href="">Wireless VR Games</a></li>
        </ul>

        <ul>
            <h2>COMMUNITY</h2>
            <li><a href="">Track Days</a></li>
            <li><a href="">VR Camp</a></li>
            <li><a href="">RGD</a></li>
            <li><a href="">Blog</a></li>
        </ul>
    </div>

    <div class="redes">
        <h2>Follow us</h2>
        <div class="links">
            <a href="https://www.facebook.com/"><img src="https://cdn-icons-png.flaticon.com/512/59/59439.png"
                    alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
                    alt="Instagram"></a>
            <a href="https://twitter.com/"><img src="https://cdn-icons-png.flaticon.com/512/733/733635.png"
                    alt="Twitter"></a>
        </div>
    </div>
</footer>